:root
{
    --shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --gray: rgb(200, 200, 200);
    --padding: 5px;
    --border-radius: 5px;
    --border: 1px solid var(--gray);
    --inputWidth: 50vw; 
    --inputHeight: 35px; 

    --bgColour: #191e22; 
    --containerColour: #2d2f32; 
    --textColour: white; 
    --lineColour: #4a4e4d; 
    --btnColour: #555f73; 
}

body
{
  font-family: 'Roboto', sans-serif; 
  margin: 0px; 
  background-color: var(--bgColour); 
}

h1
{
    text-align: center;
    color: var(--textColour); 
    font-size: 50px;
}

h1::after
{
	content: '';
    background: var(--lineColour); 
	display: block; 
	height: 3px; 
	width: 170px;
	margin: 20px auto 5px;
}

h2
{
    text-align: center;
    font-size: 30px;
    color: var(--textColour);
    /* display: inline; */
}





.react-datalist-input__container * 
{
    box-sizing: border-box;
    border: none;
}

.react-datalist-input__container 
{
    /* background-color: #555f73; */
    width: var(--inputWidth);
    margin: auto;
}

.react-datalist-input__textbox, input
{
    height: var(--inputHeight); 
    width: var(--inputWidth);
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 0;
    padding: var(--padding);
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: #2a3b4b;
    border: none;
    color: var(--textColour);
    outline: none; 
}

.inputContainer
{
    text-align: center;
}

.react-datalist-input__listbox 
{
    /* width: 100%; */
    position: absolute;
    margin: 2px 0 0 0;
    padding: 0;
    border: var(--border);
    border-radius: var(--border-radius);
    /* background-color: white; */
    color: #e8e8e9;
    border: none;
    background-color: #22384b;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    box-shadow: var(--shadow);
    z-index: 10;
}

.react-datalist-input__listbox-option 
{
    width: var(--inputWidth);
    cursor: pointer;
    margin: 0;
    padding: var(--padding);
    text-align: left;
}

.react-datalist-input__listbox-option:focus 
{
    background-color: #1c2f42;
}

.react-datalist-input__listbox-option:hover 
{
    background-color: #1c2f42;
}

button
{
  height: 30px;  
  width: 100px;
  border-radius: 10px;
  font-size: 16px;
  background-color: var(--btnColour);
  border: none;
  outline: none;
  color: var(--textColour);
}

p
{
    font-size: 18px;
    color: var(--textColour);
}